<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header style="display: flex; justify-content: right; margin-bottom: 280px; border-bottom: 1px solid black;">
        <a href="{% url 'index' %}" style="margin-bottom: 10px;">home</a>
    </header>
    <div style="display: flex; justify-content: center;">
        <form method="post" action="{% url 'check_collection' %}">
            {% csrf_token %}
            <label style="margin-left: 70px;" for="collection">Enter User Data:</label>
            <p style="margin-left: 23px;">Login: <input type="text" id="collection" name="username"></p>
            <p>Password: <input type="text" id="collection" name="password"></p>
            <p style="margin-left: 90px;"><button type="submit">Submit</button></p>
        </form>
    </div>
</body>
</html>